.about {
  flex-direction: column;
  margin-top: 3rem;
}

.about h1 {
  font-size: clamp(3.5rem, 5vw, 8rem);
}

.about h2 {
  font-size: clamp(2rem, 3vw, 6rem);
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2rem;
}

.about a {
  margin-right: 1.5rem;
}

.about .btn--outline {
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .about {
    align-items: flex-start;
    margin-top: 2rem;
  }
}
