.skills__container {
  max-width: 500px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}

.skills__item {
  transition: transform 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 0.5rem;
}
.skills__item:hover {
  transform: translateY(-4px);
}
.skills__item img {
  height: 9rem;
  width: 9rem;
  align-self: center;
}
.skills__item p {
  text-align: center;
  margin-top: 1rem;
}
