/* 
Green theme variables
$bg: #202020;
$sidebar: #3f3f3f;
$main-color: #39603d;
$bg-white: rgba(255, 255, 255, 0.925);

$nav-lines-bg: #a3bcb6;
$before-bg: #00ff1a1e;
$main-border-color: #707070;
$bg-grey: #707070;

$font-color: #ffffff;
*/

/* 
Yellow theme variables
$bg: #202020;
$sidebar: #3f3f3f;
$main-color: #e7cd6e;
$bg-white: rgba(255, 255, 255, 0.925);

$nav-lines-bg: #ccbd38;
$before-bg: #eeff0333;
$main-border-color: #707070;
$bg-grey: #707070;

$font-color: #ffffff;
*/

/*
Blue theme variables
$bg: #10121b;
$sidebar: #191d2b;
$main-color: #037fff;
$bg-white: rgba(255, 255, 255, 0.925);

$nav-lines-bg: #3858cc;
$before-bg: #0381ff33;
$main-border-color: #2e344e;
$bg-grey: #a4acc4;

$font-color: #a4acc4;
*/
