$bg: #10121b;
$sidebar: #191d2b;
$main-blue-color: #037fff;

$nav-lines-bg: #3858cc;
$a-before-bg: #0381ff33;
$main-border-color: #2e344e;

$font-color: #a4acc4;
$gitlab-color: #e24329;
$github-color: rgba(212, 45, 212, 0.788);
$linkedin-color: #0073b1;

$font-family: 'M PLUS Rounded 1c', sans-serif;
